<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tomato-PM Prototype</title>
    <!-- Import jQuery & Semantic UI -->
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
  </head>
  <body>
    <div id="mtd">
      <span id="currTab"><%= currTab %></span>
    </div>
    <div class="ui secondary pointing menu">
      <a class="item" href="/">Home</a>
      <a class="item" href="/profile">Projects</a>
      <a class="item">Worksheet</a>
      <a class="item">Result</a>
      <div class="right menu">
        <% if (!currentUser) { %>
          <a class="ui item"><i class="alarm outline icon"></i></a>
          <a class="ui item" href="/login">Log in</a>
          <a class="ui item" href="/signup">Sign up</a>
        <% } else { %>
          <span>Signed in as: <%= currentUser.email %></span>
          <a class="ui item" href="/logout">Log out</a>
        <% } %>
      </div>
    </div> <!-- ends menu bar -->
