<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tomato-PM Prototype</title>
    <link rel="stylesheet" type="text/css" href="assets/css/landing.css" />
  </head>
  <body>
    <div class="menu">
    </div>
    <div class="ld-space">

    </div>
    <div class="ld-enter">
      <h1>Enter Tomato-PM</h1>
      <button onclick="window.location.href = '/home'">ENTER</button>
    </div>

  </body>
</html>
