<%- include ./partials/header.ejs %>
<!-- Start of Body -->
<div class="ui segment">
  <h1>Login Page</h1>
  <form class="ui form" action="/login" method="POST">
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" />
    </div>
    <button class="ui orange button" type="submit">Log in</button>
  </form>
</div>

<script src="assets/js/main.js"></script>
<!-- End of Body -->
<%- include ./partials/footer.ejs %>
