<%- include partials/header.ejs %>
<!-- Start of Body -->
<div class="ui segment">
		<h1>Main Page Working!</h1>
		<p>Time is: <%= time %></p>
</div>

<script src="assets/js/main.js"></script>
<!-- End of Body -->
<%- include partials/footer.ejs %>
