<%- include ./partials/header.ejs %>
<!-- Start of Body -->
<div class="ui segment">
  <h1>Signup Page</h1>
  <form class="ui form" action="/signup" method="POST">
    <div class="field">
      <input type="text" name="email" />
    </div>
    <div class="field">
      <input type="password" name="password" />
    </div>
    <div class="field">
      <input type="text" name="company" />
    </div>
    <button class="ui orange button" type="submit">Sign up</button>
  </form>
</div>

<script src="assets/js/main.js"></script>
<!-- End of Body -->
<%- include ./partials/footer.ejs %>
